@import url('../css/fonts.css');
html,
body {
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

:root {
    /*  Colors */
    --light-gray: #CFDBD5;
    --platinum: #E8EDDF;
    --stil-grain: #F5CB5C;
    --raisin-black: #242423;
    --jet: #333533;
    --gradient-color: linear-gradient(to right, #d7d2cc 0%, rgb(39, 95, 76) 100%);
    /* Fonts */
    --Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
    --Baloo: 'Baloo', cursive;
    --K2D: 'K2D', cursive;
    --OpenSans: 'Open Sans', cursive;
}


/* ======================== Start Global Classes ======================== */


/* Global classes are used to reuse property values */

a {
    text-decoration: none;
    color: var(--jet);
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}

h1 {
    font-family: var(--Baloo);
    font-size: 2.5rem;
}

h2 {
    font-family: var(--K2D);
}

h3 {
    font-family: var(--Abel);
    font-size: 1.3rem;
}

button.btn {
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    cursor: pointer;
    font-size: 1rem;
    font-family: var(--OpenSans);
}


/* ======================== End Global Classes ======================== */


/* ========================= Start Navbar ==========================*/

.nav {
    background: white;
    padding: 0 2rem;
    height: 0;
    min-height: 7vh;
    overflow: hidden;
    transition: height .4s ease-in-out;
}

.nav .nav-menu {
    justify-content: space-between;
}

.nav .toggle-collapse {
    position: absolute;
    top: 0;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons {
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i {
    font-size: 1.4rem;
    color: var(--jet);
}

.nav .nav-items {
    display: flex;
    margin: auto;
}

.collapse {
    height: 31rem;
}

.nav .nav-items .nav-link {
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Abel);
    font-size: 1.1rem;
}

.nav .nav-items .nav-link:hover {
    background-color: var(--raisin-black);
}

.nav .nav-items .nav-link:hover a {
    color: white;
}

.nav .nav-brand a {
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Anton);
    font-size: 1.6rem;
}

.nav .social {
    padding: 1.4rem 0;
}

.nav .social i {
    padding: 0 .2rem;
    transition: color .2s ease;
}

.nav .social i:hover {
    color: #ca744c;
}


/* ========================== End Navbar ===========================*/


/* ======================== Main Content ===========================*/

main .site-title .site-background {
    padding-top: 10rem;
    text-align: center;
    color: white;
}

main .site-title h1,
h3 {
    margin: 3rem;
}

main .site-title .btn {
    margin: 1.8rem;
    background: var(--gradient-color);
}

main .site-title .btn:hover {
    background: rgba(0, 0, 0, .2);
    color: white;
    border: 1px solid #fff;
}


/* ======================== Site Title ===========================*/

main .site-title {
    background: url(../assets/Background-image.png);
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;
}


/* ======================== End Site Title ===========================*/


/* ======================== End Main Content ===========================*/


/* ========== Start Viewport less than or equal to 750px ========== */

@media only screen and (max-width: 750px) {
    .nav .nav-menu,
    .nav .nav-items {
        flex-direction: column;
        padding: 0;
    }
    .nav .toggle-collapse {
        display: initial;
    }
    .social,
    .nav .nav-items {
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .social a+a {
        margin-left: 4rem;
    }
}

@media only screen and (max-height: 750px) {
    .nav {
        min-height: 5rem;
    }
}


/* ========== End Viewport less than or equal to 750px ========== */